---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

.dot-divider {
    padding-right: .45em;
    padding-left: .45em;
    font-size: 14px
}

.dot-divider:after {
    content: '·'
}
